[Desktop Entry]
Version=0.2.0
Categories=Network;Email;
Comment=Lightweight cross-platform email client
Exec={{exec}} %u
GenericName=Email Client
Icon={{icon}}
Keywords=Email;Mail;IMAP;
MimeType=x-scheme-handler/mailto;
Name={{name}}
StartupNotify=true
StartupWMClass=Blesus
Terminal=false
Type=Application
